<div class="d-flex justify-content-between align-items-center">
    <h4 class="mb-0">Task Kanban Borad</h4>
    <div class="d-flex">
        <button class="btn btn-primary" (click)="navigateToTaskList()">Back</button>
    </div>
</div>
<div class="borad-section">
    <div class="dropable">
        <h2>Open</h2>
        <div id="open" cdkDropList #openList="cdkDropList" [cdkDropListData]="openData"
            [cdkDropListConnectedTo]="[inProgressList,completedList]" class="list" (cdkDropListDropped)="drop($event)">
            <div class="box" *ngFor="let item of openData" cdkDrag>{{item.title}}</div>
        </div>
    </div>
    <div class="dropable">
        <h2>In Progress</h2>
        <div id="inProgress" cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="inProgressData"
            [cdkDropListConnectedTo]="[openList,completedList]" class="list" (cdkDropListDropped)="drop($event)">
            <div class="box" *ngFor="let item of inProgressData" cdkDrag>{{item.title}}</div>
        </div>
    </div>
    <div class="dropable">
        <h2>Completed</h2>
        <div id="completed" cdkDropList #completedList="cdkDropList" [cdkDropListData]="completedData"
            [cdkDropListConnectedTo]="[openList,inProgressList]" class="list" (cdkDropListDropped)="drop($event)">
            <div class="box" *ngFor="let item of completedData" cdkDrag>{{item.title}}</div>
        </div>
    </div>
</div>